In [1]:
import pandas as pd

In [2]:
def remove_duplicate_lines(input_file, output_file):
    with open(input_file, 'r') as file:
        lines = file.readlines()

    unique_lines = []
    for i in range(len(lines)):
        if i % 2 == 0: 
            unique_lines.append(lines[i].strip())

    with open(output_file, 'w') as file:
        for line in unique_lines:
            file.write(f"{line}\n")

input_filename = '../testResults/theta_star_expandedVertices.txt'  
output_filename = '../testResults/theta_star_expanded.txt'  
remove_duplicate_lines(input_filename, output_filename)

In [21]:
input_file = '../testResults/theta_star_expanded.txt'

df1 = pd.read_csv(input_file, header=None, names=['Expanded'])
df1['Index'] = df1.index
df1 = df1[['Index', 'Expanded']]

input_file = '../testResults/theta_star_time_length.txt'

df2 = pd.read_csv(input_file, header=None, names=['Time', 'Length'], sep=' ')
df2['Index'] = df2.index
df2 = df2[['Index', 'Time', 'Length']]

merged_df = pd.merge(df1, df2, on='Index', how='inner')
output_file = 'theta_star_metrics.csv'
merged_df.to_csv(output_file, index=False)

merged_df

     Index  Expanded       Time      Length
0        0     24760  32.077991  400.907229
1        1      6267   8.196205  207.509913
2        2     10913  14.375557  479.205047
3        3     11746  14.760190  418.688545
4        4      7746   7.820400  374.867278
..     ...       ...        ...         ...
795    795     10586   6.508103  400.068182
796    796     16059  10.386523  508.023510
797    797      2663   1.622871  187.112270
798    798      3524   2.222852  215.796487
799    799      3853   2.639136  366.188856

[800 rows x 4 columns]

In [22]:
input_file = '../testResults/a_star_expanded.txt'

df3 = pd.read_csv(input_file, header=None, names=['Expanded'])
df3['Index'] = df3.index
df3 = df3[['Index', 'Expanded']]

input_file = '../testResults/a_star_time_length.txt'

df4 = pd.read_csv(input_file, header=None, names=['Time', 'Length'], sep=' ')
df4['Index'] = df4.index
df4 = df4[['Index', 'Time', 'Length']]

merged_df2 = pd.merge(df3, df4, on='Index', how='inner')
output_file = 'a_star_metrics.csv'
merged_df2.to_csv(output_file, index=False)

merged_df2

     Index  Expanded       Time      Length
0        0     24699  21.553724  421.730014
1        1      6453   5.503210  219.421356
2        2     10716   3.342873  501.759451
3        3     11131   3.539321  437.989899
4        4      8179   2.331058  395.859956
..     ...       ...        ...         ...
795    795     21705   9.178310  425.249783
796    796     21127   9.122083  532.707720
797    797      2317   0.868929  191.291414
798    798      2484   0.985118  221.918831
799    799      2176   0.805490  369.142136

[800 rows x 4 columns]

In [38]:
maps = ["AR0500SR", "maze512-2-5", "Milan_1_1024", "random512-20-0"]

input_file = 'theta_star_metrics.csv'
df = pd.read_csv(input_file, header=None, names=['Index', 'Expanded', 'Time', 'Length'], sep=',')
df = df.drop(index=0).reset_index(drop=True)
print(df)

tasks_per_map = 200

for i in range(4):
    start_index = i * tasks_per_map
    end_index = start_index + tasks_per_map
    chunk = df.iloc[start_index : end_index]

    file_name = f"theta_star_{maps[i]}_result.csv"  
    chunk.to_csv(file_name, index=False)

    Index Expanded       Time              Length
0       0    24760  32.077991   400.9072288767029
1       1     6267   8.196205   207.5099132901645
2       2    10913  14.375557   479.2050468700445
3       3    11746   14.76019    418.688545379375
4       4     7746     7.8204   374.8672780406112
..    ...      ...        ...                 ...
795   795    10586   6.508103    400.068181528176
796   796    16059  10.386523   508.0235100498917
797   797     2663   1.622871  187.11226988493863
798   798     3524   2.222852  215.79648686003176
799   799     3853   2.639136   366.1888563387512

[800 rows x 4 columns]

In [40]:
input_file = 'a_star_metrics.csv'
df = pd.read_csv(input_file, header=None, names=['Index', 'Expanded', 'Time', 'Length'], sep=',')
df = df.drop(index=0).reset_index(drop=True)
print(df)

for i in range(4):
    start_index = i * tasks_per_map
    end_index = start_index + tasks_per_map
    chunk = df.iloc[start_index : end_index]
    
    file_name = f"a_star_{maps[i]}_result.csv"  
    chunk.to_csv(file_name, index=False)

    Index Expanded       Time              Length
0       0    24699  21.553724  421.73001410241113
1       1     6453    5.50321   219.4213562373095
2       2    10716   3.342873   501.7594513539338
3       3    11131   3.539321   437.9898987322334
4       4     8179   2.331058   395.8599564173221
..    ...      ...        ...                 ...
795   795    21705    9.17831    425.249783362056
796   796    21127   9.122083   532.7077195258246
797   797     2317   0.868929  191.29141392239828
798   798     2484   0.985118   221.9188309203679
799   799     2176    0.80549    369.142135623731

[800 rows x 4 columns]

In [45]:
maps = ["maze512-2-5", "Milan_1_1024", "random512-20-0"]

numbers = list(range(200))
index_df = pd.DataFrame(numbers, columns=['Numbers'], dtype=int)

for map in maps:
    df = pd.read_csv(f'theta_star_{map}_result.csv', header=None, names=['Index', 'Expanded', 'Time', 'Length'], sep=',')
    df = df.drop(index=0).reset_index(drop=True)
    df['Index'] = index_df
    df.to_csv(f'theta_star_{map}_result.csv', index=False)

In [46]:
for map in maps:
    df = pd.read_csv(f'a_star_{map}_result.csv', header=None, names=['Index', 'Expanded', 'Time', 'Length'], sep=',')
    df = df.drop(index=0).reset_index(drop=True)
    df['Index'] = index_df
    df.to_csv(f'a_star_{map}_result.csv', index=False)

In [2]:
filenames = [
    'a_star_AR0500SR_result.csv', 
    'a_star_Milan_1_1024_result.csv', 
    'theta_star_AR0500SR_result.csv', 
    'theta_star_Milan_1_1024_result.csv', 
    'a_star_maze512-2-5_result.csv', 
    'a_star_random512-20-0_result.csv', 
    'theta_star_maze512-2-5_result.csv', 
    'theta_star_random512-20-0_result.csv'
]

for f in filenames:
    df = pd.read_csv(f)
    df['Time'] = df['Time'] * 1000
    df.to_csv(f, index=False)